<h1>Admin Application Show</h1>

  <% @app.pets.each do |pet| %>
    <section id="pet-<%=pet.id%>">
      <p><%= pet.name%></p> 
      <%if pet.adoptable  %>
        <h3><%= button_to "Accept Application", admin_application_path(app_id: @app.id, pet_id: pet.id), method: :patch %> </h3>
      <%elsif !pet.adoptable%>  
        <p>status: Accepted</p>
      <%end%>
    </section>
<%end%>